@{
    ViewBag.Title = "Главная";
    var date = "Cегодня " + DateTime.Now.ToShortDateString();
    var time = "Время    " + DateTime.Now.TimeOfDay.ToString(@"hh\:mm");
}
<div class="jumbotron">
    <h2>Добро пожаловать!</h2>
    <p>
        @date &nbsp;&nbsp;@time
    </p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Карточки улиц</h2>
        <p>
            Здесь будет раздел для управления карточками улиц:
            <ul>
                <li>Просмотр информации в табличном виде</li>
                <li>Управление списком: добавление новой карточки, редактирование, удаление </li>
            </ul>
        </p>
        <p>@Html.ActionLink("Карточки улиц", "Table", null, new { @class = "btn btn-default" })</p>
    </div>

    <div class="col-md-4 col-md-push-4">
        <h2>Администрирование</h2>
        <p>
            Здесь будет раздел посвящённый администрированию:
            <ul>
                <li>Ведение справочников системы</li>
                <li>Управлние пользователями и их правами</li>
            </ul>
        </p>
        <p><a class="btn btn-default" href="#">Администрирование</a></p>
@*<p>@Html.ActionLink("Администрирование", "AdminTool", null, new { @class = "btn btn-default" })</p>*@
    </div>
</div>