@{
    ViewBag.Title = "Главная";
    var date = "Cегодня " + DateTime.Now.ToShortDateString();
    var time = "Время    " + DateTime.Now.TimeOfDay.ToString(@"hh\:mm");
}
<div class="jumbotron">
    <h2>Добро пожаловать!</h2>
    <p>
        @date &nbsp;&nbsp;@time
    </p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Таблица Улиц</h2>
        <p>
            Раздел для создания, изменения, удаления и просмотра карточек улиц:
            <ul>
                <li>Информация предоставляется в табличном виде</li>
            </ul>
        </p>
        <p>@Html.ActionLink("Таблица Улиц", "Table", null, new { @class = "btn btn-default" })</p>
    </div>
    <div class="col-md-4">
        <h2>Карта улиц</h2>
        <p>
            Раздел для создания, изменения, удаления и просмотра карточек улиц:
            <ul>
                <li>Информаци предоставляется на карте.</li>
               
            </ul>
        </p>
        <p>@Html.ActionLink("Карта улиц", "ShowOnMap","Home", null, new { @class = "btn btn-default" })</p>
    </div>
    <div class="col-md-4 ">
        <h2>Администрирование</h2>
        <p>
            Раздел для изменения встроенных справочников системы и управления пользователями и правами
        </p>
        <p>@Html.ActionLink("Администрирование", MVC.Administration.Index(), new { @class= "btn btn-default" })</p>

    </div>
</div>