@{
    ViewBag.Title = "Главная";
    var date = "Cегодня " + DateTime.Now.ToShortDateString();
    var time = "Время    " + DateTime.Now.TimeOfDay.ToString(@"hh\:mm");
}
<div class="jumbotron">
    <h2>Добро пожаловать!</h2>
    <p>
        @date &nbsp;&nbsp;@time
    </p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Таблица Улиц</h2>
        <p>
            Здесь будет раздел для управления карточками улиц:
            <ul>
                <li>Просмотр информации в табличном виде</li>
                <li>Управление списком: добавление новой карточки, редактирование, удаление </li>
            </ul>
        </p>
        <p>@Html.ActionLink("Таблица Улиц", "Table", null, new { @class = "btn btn-default" })</p>
    </div>
    <div class="col-md-4">
        <h2>Показать на карте</h2>
        <p>
            Здесь будет раздел посвященный просмотру улиц на карте:
            <ul>
                <li>Просмотр информации на карте</li>

            </ul>
        </p>
        <p>@Html.ActionLink("Показать на карте", "ShowOnMap", "Home", null, new {@class = "btn btn-default"})</p>
    </div>

    <div class="col-md-4 ">
        <h2>Администрирование</h2>
        <p>
            Здесь будет раздел посвящённый администрированию:
            <ul>
                <li>Ведение справочников системы</li>
                <li>Управлние пользователями и их правами</li>
            </ul>
        </p>
        <p>@Html.ActionLink("Администрирование", MVC.Administration.Index(), new {@class = "btn btn-default"})</p>

    </div>

</div>