<table class="table table-bordered">
    <tr>
        <th>№ знака</th>
        <th>Картинка</th>
        <th>Описание</th>
        <th width="115px">Маркер</th>
        <th>Количество</th>
        <th style="width: 125px"></th>
    </tr>
    <tr>
        <td style="width: 185px;height: 115px"><input type="text" class="FindRoadSings"></td>
        <td style="width: 115px;height: 115px"></td>
        <td style="width: 117px"></td>
        <td style="width: 115px"></td>
        <td style="vertical-align: middle"></td>
        <td><a class="lastA" href="#">Удалить строку</a></td>
    </tr>
</table>
